/*/bin/
/*/build/
/*/dist/
/jeditplugin/installer/
/modelchecker/standalone/
/*/nbproject/private/
*.stop___MAS
*.asl~
*.aorta~
*.mas2j~
*.mm~
*.mm~
*.class
.DS_Store
bin/
jeditplugin/installer.properties
/examples/scbw/nbproject/private/
/examples/scbw/build/
/examples/scbw/dist/
/examples/SettlersInSpace/nbproject/private/
/examples/SettlersInSpace/build/
/examples/SettlersInSpace/logs/
/examples/auctionhouse/nbproject/private/
/examples/auctionhouse/build/
*Lexer*.java
*Parser*.java
*.tokens
*.aux
*.fdb_latexmk
*.gz
/examples/2apl/auctionhouse/nbproject/private/
/examples/2apl/auctionhouse/dist/
/examples/2apl/auctionhouse/build/
