/*/bin/
/*/build/
/*/dist/
/jeditplugin/installer/
/modelchecker/standalone/
/*/nbproject/private/
*.stop___MAS
*.asl~
*.aorta~
*.mas2j~
*.mm~
*.mm~
*.class
bin/
jeditplugin/installer.properties
/examples/scbw/nbproject/private/
/examples/scbw/build/
/examples/scbw/dist/
/examples/SettlersInSpace/nbproject/private/
/examples/SettlersInSpace/build/
/examples/SettlersInSpace/logs/
/examples/auctionhouse/nbproject/private/