/ajpf2014/bin/
/ajpf2014/build/
/ajpf2014/dist/
/examples/library/bin/
/examples/bw4t/bin/
/framework/build/
/framework/dist/
/jason/build/
/jason/dist/
/jeditplugin/build/
/jeditplugin/dist/
/jeditplugin/installer/
/metamodel/dist/
/metamodel/build/
/modelchecker/dist/
/modelchecker/build/
/modelchecker/standalone/
/opera/dist/
/opera/build/